
body, html {
  height: 1500px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.font-style {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}




.font-style-paragraph{

}


.font-style-title{

}


.box-button-structure{

}

.box-button-style {

}